appdirs==1.4.3
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
cssselect==1.0.3
fake-useragent==0.1.11
idna==2.8
lxml==4.2.5
nltk==3.4
numpy==1.15.4
oauthlib==2.1.0
pandas==0.23.4
parse==1.9.0
pony==0.7.6
pyee==5.0.0
pyppeteer==0.0.25
pyquery==1.4.0
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.21.0
requests-html==0.9.0
requests-oauthlib==1.0.0
scikit-learn==0.20.1
scipy==1.1.0
searchtweets==1.7.4
singledispatch==3.4.0.3
six==1.12.0
tqdm==4.28.1
tweepy==3.7.0
tweet-parser==1.13.1
twitter-scraper==0.3.0
urllib3==1.26.5
w3lib==1.19.0
websockets==7.0
